<!DOCTYPE html>
<html>
<head>
    <title>Angular 2 </title>
    <meta charset="utf-8" />
    <!--Change this if you are not running your application on the root-->
    <script>document.write('<base href="' + document.location + '" />');</script>
    <!-- Polyfill for older browsers -->
    <script src="Client/node_modules/core-js/client/shim.min.js"></script>
     <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="Client/node_modules/zone.js/dist/zone.js"></script>
    <script src="Client/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="Client/node_modules/systemjs/dist/system.src.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <link rel="stylesheet" href="Client/Styles/bootstrap/bootstrap.css">
    <script src="Client/Styles/bootstrap/bootstrap.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<!--<link rel="stylesheet" href="/Styles/bootstrap/bootstrap.css">-->
<!--<script src="/Styles/bootstrap/bootstrap.js"></script> -->
<link rel="stylesheet" href=".Client/Styles/Main.css"> 
    <!-- Configure SystemJS -->
    <script src="Client/systemjs.config.js"></script>
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
</head>
<body> 
 hare krishna
</body>
</html>
